:root {
	--c-white: #FFF;
	--c-black: #2C2C2C;
	--c-black-20: #6E6E6E;
	--c-primary: #1473E6;
	--c-border: #F5F5F5;
	--ts-s: 12px;
	--ts-m: 14px;
	--ts-l: 16px;
	--ts-xl: 18px;
}

html {
	height: 100%;
}

html,
body {
	overflow-x: hidden;

	max-width: 100vw;
}

body {
	min-height: 100%;

	font-family: 'Open Sans', fantasy;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
